*{
	font-family: "Segoe UI", Frutiger, Arial, sans-serif;
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	color: #707070;
}
header{
	min-height: 65px;
	display: flex;
	background-color: #f8f6f6;
	flex-direction: column;
}
#logo{
	width: min(35vw, 150px);
	margin: 0 auto;
}
#logo img{
	width: 100%;
}
nav{
	width: 100vw;
	display: flex;
}

nav ul {
	margin: 0 auto;
	display: flex;
}
nav ul li{
	list-style: none;

}
nav ul li a{
	text-decoration: none;
	font-size: 22px;
	margin-left: 20px;
}
section{
	/*display: flex;*/
	width: 95vw;
	min-height: 50vh;
	margin-left: 3vw;
	margin-top: 2vh;
	border-bottom: 2px solid #707070;
	padding-bottom: 15px;
}
.content{
	display: flex;
	flex-direction: column;
}
.content div{
	align-self: center;
}
section h1{
	font-size: 24px;
	width: 100%;
}
section div{
	width: 99%;
	margin-top: 2vh;
}
section div p{
font-size: 20px;
}
#inf-img{
	display: flex;
	align-items: flex-end;
}
#inf-img div{
	width: 50%;
	border: 1px solid #707070;
	margin-right: 2vw;
}
#inf-img div img{
	width: 90%;
}
/* --Finaliza sessão sobre --*/

/* Inicia a sessão curso */

#cursos .content div{
	width: 80vw;
	margin-top:20px;
}
#cursos .content div h2{
	font-size: 20px;
	text-align: center;
	background-color: #eee8e8;
	padding: 15px 15px;
}
#cursos .content div img{
	width: 100%;
}
#web-design{
	border-top: 8px solid #58dd77;
}
#programacao{
	border-top: 8px solid #dd5861;
}
#banco-dados{
	border-top: 8px solid #5858dd;
}

/* Começo da Sessão Planos*/


#plano-bronze {
	border-style: solid;
	border-width: 15px 0;
	border-color: #c59b12;
}

#plano-prata {
	border-style: solid;
	border-width: 15px 0;
	border-color: #f6eff0;
}

#plano-ouro {
	border-style: solid;
	border-width: 15px 0;
	border-color: #f1f115;
}

#planos h2 {
	background-color: #eee8e8;
	border: solid black 0.5px;
	text-align: center;
	padding: 8px 0;
	font-weight: bold;
}

#planos span{
	display: block;
	height: 50px;
	line-height: 50px;
	width: 100%;
	font-size: 20px;
	font-weight: 900;
	font-family: sans-serif;
	padding: 0 20px;
}

#plano-bronze span {
	background-color: #c59b12;
}

#plano-prata span {
	background-color: #f6eff0;
}

#plano-ouro span {
	background-color: #f1f115;
}

#planos ul{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	list-style: none;
	height: 300px;
	font-size: 20px;
	font-weight: bold;
}

#planos .content div {
	margin: 15px 0;
}

/* Fim da Sessão Planos*/

/* Começo da Sessão Valores*/


#valores h2 {
	border-style: solid;
	border-width: 0 0 0 10px;
	line-height: 40px;
	padding: 0 20px;
}

#valores p {
	text-align: justify;
	padding-left: 40px;
	padding-right: 10px;
}

#valores .content div {
	margin: 20px 0;
}

#qualidade h2 {
	border-color: #4632fd;
}

#eficiencia h2 {
	border-color: #fe2222;

}

#compromisso h2 {
	border-color: #098809;

}

#inovacao h2 {
	border-color: #f5fb30;

}

#pesquisa h2 {
	border-color: #f632fd;

}

#meio-ambiente h2 {
	border-color: green;

}


/* Fim da Sessão Valores*/


/* responsividade */

@media screen and (min-width: 800px) {

header, header *{
	all: unset;
}

body::before {
	content: "";
	display: block;
	top: 0;
	height: 100px;
}

header {
	position: fixed;
	top: 0;
	box-sizing: border-box;
	display: block;
	height: 100px;
	width: 100%;
	padding: 0 50px;
	background-color: #f8f6f6;
}

#logo{
	display: flex;
	height: 100px;
	float: left;
	width: 0;
}

#logo img {
	margin: auto 0;
	width: unset;
	height: 75px;
}

nav {
	display: flex;
	align-items: center;
	float: right;
	height: 100px;
}

nav ul li {
	margin: 0 25px;
}

}